<div #wrapper class="wrapper">
    <div #displayWrapper class="display-wrapper" [ngStyle]="{ 'font-family': fontName, 'background-color': backgroundColor }">
        <span class="background" *ngIf="showOff" [ngStyle]="{ 'font-size': fontSizePx + 'px', 'color': colorOff }">{{ getMask() }}</span>
        <span #display class="front"  [ngStyle]="{ 'font-size': fontSizePx + 'px' }">
            <span *ngFor="let character of getValue() | split; index as i;"
                        (click)="selectCharacter(character, i)" 
                        [ngStyle]="{ 'display': character != ' ' ? 'inline-block' : 'inline', 'color': i == selectedCharacterIndex ? colorOnSelected : colorOn }">
                {{ character }}
            </span>
        </span>
    </div>
</div>

