.wrapper {
    position: relative;
}

.display-wrapper {
    border-radius: 5px;
}

.background {
    z-index: 50;
    position: absolute;
    color: rgba(0,0,0,0.15);
}

.front {
    z-index: 100;
    position: absolute;
}