<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
    <span class="navbar-text mr-2" *ngIf="model && serialNumber">
        Connected to model JDS6600-{{ model }}M / Serial number : {{ serialNumber }}
    </span>
    <button class="btn btn-primary mr-2" (click)="refreshPorts()" [disabled]="connected">
        <fa-icon icon="sync"></fa-icon>
    </button>
    <select class="form-control w-auto mr-2" [disabled]="ports.length == 0 || connected" [(ngModel)]="path">
        <option *ngFor="let port of ports" [value]="port.path">{{ port.path }} / {{ port.manufacturer }}</option>
        <option *ngIf="ports.length == 0">No COM port available</option>
    </select>
    <button class="btn" [ngClass]="{'btn-success': connected, 'btn-danger': !connected }"
        [disabled]="ports.length == 0 && !connected" (click)="processConnection()">
        <fa-icon [icon]="connected ? 'power-off' : 'check'"></fa-icon>
    </button>
</nav>