<div class="row">
    <div class="col-6">
        <fgm-output-panel [channel]="channel1"></fgm-output-panel>
    </div>
    <div class="col-6">
        <fgm-output-panel [channel]="channel2"></fgm-output-panel>
    </div>
</div>