<div class="row no-gutters mb-2">
    <div class="col-5">
        <div class="mr-2">
            <h6 class="card-title">Amplitude</h6>
            <fgm-segment-display [fontSizePx]="18" [displayValue]="(amplitude / 1000) | number:'2.3-3'"
                (selectedIndex)="setSliderDigit(unitType.AMPLITUDE, $event)"></fgm-segment-display>
        </div>
    </div>
    <div class="col-4">
        <h6 class="card-title">Offset</h6>
        <fgm-segment-display [fontSizePx]="18"
            [displayValue]="(offset >= 0 ? '!' : '') + ((offset / 100) | number:'1.2-2')"
            (selectedIndex)="setSliderDigit(unitType.OFFSET, $event)"></fgm-segment-display>
    </div>
    <div class="col-3">
        <h6 class="card-title">Duty</h6>
        <fgm-segment-display [fontSizePx]="18" [displayValue]="(duty / 10) | number:'2.1-1'"
            (selectedIndex)="setSliderDigit(unitType.DUTY, $event)"></fgm-segment-display>
    </div>
    <div class="col-12">
        <div class="row no-gutters">
            <div class="col-8 pl-2">
                <nouislider [disabled]="sliderDigitIndex == undefined" [connect]="'lower'" [step]="1"
                    [min]="sliderMinValue" [max]="9" [(ngModel)]="sliderValue" (slide)="onSliderValueChange()"
                    (change)="emitChange()"></nouislider>
            </div>
            <div class="col-4 pl-4 mt-2">
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-secondary" [disabled]="sliderDigitIndex == undefined"
                        (click)="addToSliderDigit(-1)">-</button>
                    <button type="button" class="btn btn-secondary" [disabled]="sliderDigitIndex == undefined"
                        (click)="addToSliderDigit(1)">+</button>
                </div>
            </div>
        </div>
    </div>