<form class="form-inline">
    <h6 class="card-title">Wave
        <select class="form-control form-control-sm w-auto ml-2" name="wave" [(ngModel)]="wave" (ngModelChange)="changeWaveForm()">
            <option *ngFor="let enum of WaveForm | keyvalue" [value]="enum.key">{{ enum.value }}</option>
        </select>
    </h6>
</form>