<div class="card mb-2">
    <div class="card-body">
        <div class="row no-gutters">
            <div class="col-6">
                <div class="mb-2">
                    <fgm-output-panel-wave [wave]="wave" (waveChange)="setWave($event)"></fgm-output-panel-wave>
                </div>
                <div class="mb-2">
                    <fgm-output-panel-frequency [frequency]="frequency" [frequencyUnit]="frequencyUnit"
                        (frequencyChange)="setFrequency($event)"></fgm-output-panel-frequency>
                </div>
                <div>
                    <fgm-output-panel-amplitude-offset-duty [amplitude]="amplitude" (amplitudeChange)="setAmplitude($event)"
                        [offset]="offset" (offsetChange)="setOffset($event)"
                        [duty]="duty" (dutyChange)="setDuty($event)"></fgm-output-panel-amplitude-offset-duty>
                </div>
            </div>
            <div class="col-6">
                <div class="ml-2">
                    <fgm-wave-display [wave]="wave" [duty]="duty/1000"></fgm-wave-display>
                </div>
            </div>            
            
        </div>        
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Manual settings</h5>
        <form class="form mt-2" [formGroup]="manualValuesForm" (ngSubmit)="setManualValues()">
            <div class="form-group row">
                <label for="frequency" class="col-3 col-form-label">Frequency</label>
                <div class="col-9">
                    <input class="form-control mr-2" id="frequency" type="number" formControlName="frequency">
                </div>
                <small class="col-12" *ngIf="frequencyValueControl.invalid && frequencyUnit == frequencyUnits.MHz"
                    class="form-text text-muted">
                    <div class="ml-3">The frequency value must be between 0 and 99.999,999,99</div>
                </small>
                <small class="col-12" *ngIf="frequencyValueControl.invalid && frequencyUnit == frequencyUnits.kHz"
                    class="form-text text-muted">
                    <div class="ml-3">The frequency value must be between 0 and 99,999.999,99</div>
                </small>
                <small class="col-12"
                    *ngIf="frequencyValueControl.invalid && (frequencyUnit != frequencyUnits.MHz && frequencyUnit != frequencyUnits.kHz)"
                    class="form-text text-muted">
                    <div class="ml-3">The frequency value must be between 0 and 999,999,999.99</div>
                </small>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="manualValuesForm.invalid">Set Frequency</button>
        </form>
    </div>
</div>

<hr>
<pre>{{ frequencyUnit }}</pre>