input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.fonttest {
    font-family: DSEG7-Classic;
    font-size: 3em;
    color: #e95d0f;
    background-color: black;
}