<h6 class="card-title">Frequency</h6>
<fgm-segment-display [fontSizePx]="23" [displayValue]="getRealFrequency() | number:getNumberFilterFormat()"
    (selectedIndex)="setSliderDigit($event)"></fgm-segment-display>
<div class="row no-gutters">
    <div class="col-8">
        <nouislider [disabled]="sliderDigitIndex == undefined" [connect]="'lower'" [step]="1" [min]="0" [max]="sliderMaxValue"
            [(ngModel)]="sliderValue" (slide)="onSliderValueChange()" (change)="emitFrequencyChange()"></nouislider>
    </div>
    <div class="col-4 pl-4 mt-2">
        <div class="btn-group btn-group-sm">
            <button type="button" class="btn btn-secondary"[disabled]="sliderDigitIndex == undefined" (click)="addToSliderDigit(-1)">-</button>
            <button type="button" class="btn btn-secondary"[disabled]="sliderDigitIndex == undefined" (click)="addToSliderDigit(1)">+</button>
        </div>
    </div>
</div>

<div class="btn-group btn-group-sm btn-group-toggle" ngbRadioGroup name="freqScale" [(ngModel)]="frequencyUnit"
    (ngModelChange)="emitFrequencyChange()">
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="frequencyUnits.uHz">µHz
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="frequencyUnits.mHz">mHz
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="frequencyUnits.Hz">Hz
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="frequencyUnits.kHz">kHz
    </label>
    <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" [value]="frequencyUnits.MHz">MHz
    </label>
</div>